@charset "ISO-8859-1";

.cor-fundo{
	background-color: #FFE4C4;
}

.cover {
	object-fit: cover;
    height: 20rem;
}

.cover-sm {
	object-fit: cover;
    height: 10rem;
}

.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}

.center{
	margin: auto;
	margin-left: 1rem;
}

.dst-b {
	margin: 2rem 0;
}

.tx-p {
	font-size: 1rem !important;
}

.tx-dest-a{
	text-shadow: 1px 1px 10px black;
}

