@charset "ISO-8859-1";

.cor-f {
	background-color: #FFE4C4;
}

.wx-400 {
/* 	max-width: auto !important; */


}

.hwx-400 {
	width: 100% !important;
	height: 50% !important;
}

.img-carousel {
	object-fit: cover;
	max-width: 60vw;
	height: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
